* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    color: black;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fdfbfb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .links {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

/* create post section */
.create-post-section {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.create-post-section form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.create-post-section form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-post-section form button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    align-self: center;
}

.create-post-section form button:hover {
    background-color: #34608e;
}

/* Feed section */
.feed-section {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    overflow: hidden;
}

.post-card {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.post-card h3 {
    margin-bottom: 10px;
}

.post-card img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
}

.post-card p {
    margin-top: 10px;
    font-style: italic;
    font-weight: 500;
}