* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: antiquewhite;
    color: black;
}

.Header {
    height: 20%;
    width: 100%;;
    background-color: gray;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 1rem;
}